/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--clr-primary: rgb(248, 104, 88);
	--clr-secondary: #848199;
	--clr-btn-bg: #f8e1ee;
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Roboto', sans-serif;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	--clr-background: #E5E5E5;
}

/*
=============== 
Global Styles
===============
*/
body {
	font-family: var(--ff-primary);
}
.custom-text-color-ash{
  color: var(--clr-secondary);
}
.custom-package-btn-bg{
  background: var(--clr-btn-bg);
}
/*  
===============
Navbar
===============
*/
.navbar-light .navbar-toggler-icon {
  background-image: url("./icons/menu-2\ 1.svg");
}
.navbar-brand-width{
  width: 65%;
}
@media screen and (min-width: 768px) {
  .navbar-brand-width{
    width: auto;
  }
}
/*  
===============
End of Navbar
===============
*/

/*  
===============
Banner Section
===============
*/
.banner-height{
  min-height: calc(100vh - 56px);
}
.carousel-img-div{
  height: calc(100vh - 56px);
}
.carousel-img-1{
  object-fit: cover;
  object-position: 25% 40%;
}
.carousel-img-2{
  object-fit: cover;
  object-position: 35% 40%;
}
.carousel-img-3{
  object-fit: cover;
  object-position: 50% 40%;
}
.custom-icon-size{
  width: 3rem;
  height: 3rem;
}
/*  
======================
End of Banner Section
======================
*/

/*  
=============
Our Package
=============
*/
.card-3{
  position: relative;
  bottom: 5%;
  z-index: 2;
  border-radius: 20px;
}
.custom-badge{
  right: 5%;
}
@media screen and (min-width: 992px) {
  .package-heading{
    margin-bottom: 5rem;
  }
}
/*  
===================
End of Our Package
===================
*/

/*  
=========
Footer
=========
*/
.footer-height{
  min-height: 17.5rem;
}
/*  
===============
End of Footer
===============
*/